<!doctype html>
<!-- Angular should consider to be the root element of our application. Indicate if the entire html page/ portion is Angular application -->
<!-- Angular module name - phonecatApp, which contains the PhoneListCtrl -->
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <!-- binding with {{query}}, so ng-controller must be moved to html level -->
  <!--<title>Google Phone Gallery: {{query}}</title>-->
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- script of angular.js should be ended with </script> -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body  ng-controller="PhoneListCtrl">
    <!--<p>Hello, {{name}}!</p>-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- Slidebar content -->
                Search: <input ng-model="query">
            </div>
            <div class="col-md-10">
                <!-- Body content -->
                <ul class="phones">
                    <!-- for Angular repeateer directive-->
                    <li ng-repeat="phone in phones | filter: query">
                        <span>{{phone.name}}</span>
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <p>Total number of phones: {{phones.length}}</p>

</body>
</html>
